spring.application.name=DocsWriter

# connect to PostgreSQL in Docker
spring.datasource.url=jdbc:postgresql://localhost:5432/docsWriter
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=org.postgresql.Driver

# JPA / Hibernate
# auto create / update / validate / none
spring.jpa.hibernate.ddl-auto=update

# PostgreSQL: introduce db type for Hibernate
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect

# show query SQL in console
spring.jpa.show-sql=true
# format query SQL in console
spring.jpa.properties.hibernate.format_sql=true

# swagger
server.port=8080
springdoc.swagger-ui.path=/swagger-ui.html

# jwt
app.security.jwt.secret=
app.security.jwt.access-expiration-minutes=30
app.security.jwt.refresh-expiration-days=7
app.security.jwt.issuer=docs-writer-api

#google
app.security.google.client-id=

#multipart file
spring.servlet.multipart.enabled=true
spring.servlet.multipart.max-file-size=10MB
spring.servlet.multipart.max-request-size=20MB

#cloudinary
app.cloudinary.cloudname=
app.cloudinary.APIkey=
app.cloudinary.APIsecret=
app.cloudinary.APIenvironmentvariable=


#upload policy
app.cloudinary.upload-folder=/image/upload
app.cloudinary.api-base-url=https://api.cloudinary.com/v1_1/


#mail
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=
spring.mail.password=
spring.mail.properties.mail.smtp.auth=
spring.mail.properties.mail.smtp.starttls.enable=true
